/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-accent: #81B3D2;
  --basic-neutral: #EEEEEE;
  --basic-extra-light: #F2F2F2;
  --basic-white: #ffffff;

  --special: #766357;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
