/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-accent: #81B3D2;
  --basic-neutral: #EEEEEE;
  --basic-extra-light: #F2F2F2;
  --basic-white: #ffffff;

  --special: #766357;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.main-navigation {
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.menu-list {
  list-style: none;
}

.menu-list__item a {
  color: var(--basic-black);
}

.menu-list__item--current a:not([href]) {
  color: var(--special);
}

.menu-list__item a:hover,
.menu-list__item a:focus {
  color: var(--basic-accent);
}

.menu-list__item a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.welcome {
  text-align: center;
  background-color: var(--basic-extra-dark);
  background-image: url(../img/bg-mountains.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

